/*----------award----------*/
.award .content h1 {
    font-size: 50px;
    line-height: 50px;
    margin: 50px 0;
  }
  
  .award .box {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 80px;
  }
  
  .award .contentLeft img {
    width: auto;
    height: auto;
  }
  
  /* .award .contentRight{
  
  } */
  
  .award .content .contentLeft {
    margin-bottom: 50px;
  }
  /*----------award----------*/